---
import HeroLogo from "../other/HeroLogo.astro";
---

<section class="flex flex-col items-center justify-center">
    <span class="uppercase text-secondary bg-primary px-6 py-1 font-medium animate-fade-in animate-delay-300">Welcome to</span>
    <HeroLogo className="animate-fade-in-up w-[300px] h-auto md:w-[400px]" />
</section>