---
import NavbarLogo from "../other/NavbarLogo.astro";
import HamburgerBtn from "../other/HamburgerBtn.astro";
import NavbarLinks from "./NavbarLinks.astro";



---

<section>
    <nav>
        <div class="w-full flex justify-between items-center">
            <NavbarLogo />
            <HamburgerBtn />
            <NavbarLinks />
        </div>
    </nav>
</section>


<style>
    nav {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        background:
            linear-gradient(to right, transparent, var(--color-secondary), transparent) bottom
        ;
        background-repeat: no-repeat;
        background-size: 100% 2px;
    }
</style>