---
import Layout from '../layouts/Layout.astro';
import Hero from '@/components/sections/Hero.astro';
import DateTyping from '@/components/sections/DateTyping.astro';
import Info from '@/components/sections/Info.astro';
import EnterCourtroomBtn from '@/components/other/EnterCourtroomBtn.astro';
---

<Layout title="Ace Courtroom Battles">
	<Hero />
	<main>
		<DateTyping />
		<EnterCourtroomBtn />
		<Info />
	</main>
</Layout>
