---
import Layout from '../layouts/Layout.astro';
import Countdown from '@/components/sections/Countdown.astro';
import Footer from '@/components/sections/Footer.astro';
import Hero from '@/components/sections/Hero.astro';
import DateTyping from '@/components/sections/DateTyping.astro';
import Info from '@/components/sections/Info.astro';
import CharacterSelection from '@/components/sections/CharacterSelection.astro';

---

<Layout title="Ace Courtroom Battles">
	<Hero />
	<main>
		<DateTyping />
		<Info />
		<Countdown />
		<CharacterSelection />
	</main>
	<Footer />
</Layout>
